body
{
	background-image:-webkit-gradient(linear,left top,right top,
		color-stop(0.1,#0bb5ff),color-stop(0.75,
		#1464f4));//,color-stop(0.85,green));
	//background-size: 50px 1950px;
	
	//position:fixed;
	//background-repeat:no-repeat;
}
.head-image
{
	width:150px;
	height:75px;
}
.date
{
	margin-left:26cm;
	margin-top:-1cm;
	width:200px;
	height:75px;
}
.details
{
	margin-left:6cm;
	margin-top:2cm;
	border-style:groove;
	border-color:green;
	border-width:8px;
	font-size:30px;
	width:50%;
}
.fare-heading
{
	text-shadow: 5px 5px 5px cyan;
	font-family:Comic Sans MS;
	margin-left:3cm;
	margin-top:1cm;
	color:blue;
	font-size:50px;
	
}
#table
{
background-color:purple;
table-layout:fixed;
}
#mid
{
	margin-left:10cm;
	margin-top:-3cm;
}
#iframe
{
	margin-left:7cm;
	margin-top:1cm;
}
#arr
{
	margin-left:7cm;
	margin-top:1cm;
}
#dept
{
	margin-left:2cm;
	margin-top:1cm;
}
#boston6
{
	margin-left:5cm;
	margin-top:1cm;
	margin-right:4cm;
}
#bus
{
	margin-left:5cm;
	margin-top:1cm;
}
#select_bus
{
	margin-left:4.5cm;
	font-size:30px;
}
#bus_info
{
	margin-left:5cm;
	margin-top:1cm;
}
#bus_header
{
	margin-left:5cm;
	margin-top:1cm;
}
#io
{
		margin-left:5cm;
		margin-top:1cm;
}
#line
{
		margin-left:5cm;
		margin-top:1cm;
}
#selectline
{
	margin-left:5cm;

}
#select_station
{
	margin-left:0.2cm;
	margin-top:1cm;
}
#bound
{
	margin-left:0.2cm;
	margin-top:1cm;
}
#submit
{
	margin-left:4.8cm;
	margin-top:1cm;
}
#margin
{
	margin-left:4.8cm;
	margin-right:4cm;
}